<div class="error">
    <p>@ViewBag.Error</p>
</div>
<div class="refresh">
    <button class="send" type="button" onclick="document.location.reload(true)">Odśwież</button>
</div>

<main>
    <h2>Dice Rolls - wspólne rzuty kośćmi</h2>
    <form action="/" method="post">
        <label>login: </label>
        @if (ViewBag.Login == null)
        {
            <input type="text" id="login" name="login" maxlength="25" oninput="resChar()" />
        }
        else
        {
            <label><b>@((string)ViewBag.Login)</b></label>
        }
        <br /><br />
        <button class="updown" type="button" onclick="getDown()"><</button>
        <input class="send" type="number" id="diceCount" name="diceCount" oninput="inRange()" value="@(ViewBag.diceCount ?? 1)" />
        <button class="updown" type="button" onclick="getUp()">></button>

        <select class="send" id="dice" name="diceType">
            @foreach (var elem in (new int[] { 2, 4, 6, 8, 10, 12, 16, 20, 100 }))
            {
                if (elem == ViewBag.diceType)
                {
                    <option value="@elem" selected>k@(elem)</option>
                }
                else
                {
                    <option value="@elem">k@(elem)</option>
                }
            }
        </select>

        <button class="send" type="submit" value="@ViewBag.UserId" name="rollSend">Rzut</button>
    </form>
    @*<hr />
    <table>
        @if (ViewBag.Dice != null)
        {
            var lines = ((string)ViewBag.Dice).Split('|');

            for (int i = lines.Length - 1; i >= 0; i--)
            {
                <tr>
                    <td class="first"><i><b>@lines[i].Split('^')[3]</b> @lines[i].Split('^')[2]</i></td>
                    <td><b><span>k</span>@lines[i].Split('^')[0]</b></td>
                    @foreach (string result in lines[i].Split('^')[1].Split(','))
                    {
                        <td>@result</td>
                    }
                </tr>
            }
        }
    </table>*@
    <hr />
    <component type="typeof(TableRefresh)" render-mode="ServerPrerendered" param-SessionId="@ViewBag.SessionId" />
    <br />
    <button type="button" onclick="copyUrl()">Kopiuj adres do schowka</button>
    <br />
    <p>[Usługa w fazie testów]</p>
    <p>
        Witamy w usłudze umożliwiającej rzucanie kośćmi na odległość. Aby rozpocząć,
        skopiuj cały adres z paska adresu przeglądarki lub użyj przycisku powyżej, a następnie
        wyślij ten adres do osób, z którymi chcesz wspólnie rzucać kośćmi. Wyniki rzutów danej sesji
        są przechowywane niekrócej jak tydzień i niedłużej jak dwa tygodnie.
    </p>
    <p>
        Możesz wpisać swoją nazwę w polu 'login', a ta zostanie zapamiętana dla danej sesji, przy czym nie możesz
        w tym polu używać znaków '^' i '|'. Aby zobaczyć rzuty znajomych, z którymi współdzielisz sesję,
        odświerz stronę przy użyciu przycisku w prawym górnym rogu lub zahacz opcję autoodświeżania. Wybierz ilość kości
        w zakresie od 1 do 30, rodzaj kości i możesz już rzucać. Dobrej zabawy:)
    </p>
    <hr />
    <p>
        <br /><b>Aktualizacje:</b><br /><br />
        9-5-2021 - Dodana funkcjonalność zapamietywania rodzaju ostatnio wybranych kości i ich ilości do
        wykorzystania przy kolejnym rzucie.<br /><br />
        23-8-2021 - Dodana możliwość włączenia autoodświeżania tabeli wyników.<br /><br />
    </p>
</main>

<footer>
    <hr />
    <p>stworzone przez Liberezo</p>
</footer>